<header>
  <div class="headerContent">
    <div class="logoSection">
      <div class="imgLogoWrapper">
        <a href="index.html" class="imgLogoLink">
          <img src="/assets/img/icon/logo/logo.svg" alt="">
        </a>
      </div>
      <div class="logoText">
        <a href="index.html" class="logoTextLink">
          <span>Senton</span>
        </a>
      </div>
    </div>
    <nav class="headerNavigation">
      <div class="headerNavigationElement">
        <a href="index.html" class="headerNavigationLink">
          <span>Главная</span>
        </a>
      </div>
      <div class="headerNavigationElement">
        <a href="#" class="headerNavigationLink">
          <span>Донат</span>
        </a>
      </div>
      <div class="headerNavigationElement">
        <a href="#" class="headerNavigationLink">
          <span>Сервера</span>
        </a>
      </div>
      <div class="headerNavigationElement">
        <a class="headerNavigationLink">
          <span>Играть</span>
        </a>
      </div>
      <div class="headerNavigationElement">
        <a href="#" class="headerNavigationLink">
          <span>Помощь</span>
        </a>
      </div>
    </nav>
    <div class="loginSection">
      <div (click) = "clicked($event)" class="loginButton">
        <span>Войти</span>
      </div>
    </div>
  </div>
</header>
