/* Header */

header {
    display: grid;
    width: 100vw;
    height: 64px;
    background-color: #181818;
    justify-items: center;
}

header a {
    text-decoration: none;
    color: white;
}

.headerContent {
    display: grid;
    width: 70vw;
    grid-template-columns: 1fr 5fr 1fr;
    grid-column-gap: 30px;
}

.logoSection {
    display: grid;
    justify-self: start;
    grid-template-columns: 48px 1fr;
    column-gap: 10px;
}

.imgLogoWrapper {
    display: grid;
    justify-content: center;
    align-items: center;
}

:link:not(a.headerNavigationLink):hover {
    opacity: 0.8;
    transition: opacity 0.2s ease-in-out;
}

a.imgLogoLink {
    height: 53px;
}

.logoText {
    display: grid;
    justify-content: center;
    align-items: center;
}

a.logoTextLink>span {
    font-size: 32px;
}

nav.headerNavigation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.headerNavigationElement {
    display: grid;
    justify-content: center;
    align-items: center;
}

a.headerNavigationLink {
    color: white;
    text-decoration: none;
}

a.headerNavigationLink>span {
    font-size: 16px;
    transition: color 0.5s;
    -webkit-transition: color 0.5s;
}

a.headerNavigationLink>span:hover {
    color: #CF3F93;
}

.loginSection {
    display: grid;
    justify-self: end;
    justify-content: center;
    align-items: center;
}

.loginSection :hover {
    opacity: 0.8;
    transition: opacity 0.2s ease-in-out;
    cursor: pointer;
}

.loginButton {
    background-color: #feebff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 26px;
    padding-right: 26px;
    border-radius: 25px;
}

.loginButton>span {
    font-size: 14px;
}