<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="styles.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">

    <title>Document</title>
</head>
<body>
    <header>
        <div class="headerContent">
            <div class="logoSection">
                <div class="imgLogoWrapper">
                    <a href="index.html" class="imgLogoLink">
                        <img src="img/logo.svg" alt="">
                    </a>
                </div>
                <div class="logoText">
                    <a href="index.html" class="logoTextLink">
                        <span>Senton</span>
                    </a>
                </div>
            </div>
            <nav class="headerNavigation">
                <div class="headerNavigationElement">
                    <a href="#" class="headerNavigationLink">
                        <span>Главная</span>
                    </a>
                </div>
                <div class="headerNavigationElement">
                    <a href="#" class="headerNavigationLink">
                        <span>Донат</span>
                    </a>
                </div>
                <div class="headerNavigationElement">
                    <a href="#" class="headerNavigationLink">
                        <span>Сервера</span>
                    </a>
                </div>
                <div class="headerNavigationElement">
                    <a href="#" class="headerNavigationLink">
                        <span>Играть</span>
                    </a>
                </div>
                <div class="headerNavigationElement">
                    <a href="#" class="headerNavigationLink">
                        <span>Помощь</span>
                    </a>
                </div>
            </nav>
            <div class="loginSection">
                <div class="loginButton">
                    <span>Войти</span>
                </div>
            </div>
        </div>
    </header>
    <main>
        <section class="tilesHolder">
            <div class="headerTile tile">
                <h1>Мы любим своих игроков</h1>
            </div>
            <div class="playersOnlineTile">
                <div class="playerOnlineSign">
                    <span id="playerOnline">70</span>
                    <span>Игроков онлайн: </span>
                </div>
            </div>
            <div class="serverDesctiptionTile">
                <h2>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga, recusandae!
                </h2>
                <span>
                    Dictumst tellus viverra hendrerit lectus nisl, massa nullam eu ultricies. Commodo risus ante quam tortor eros, nisi, sed. Arcu commodo, nibh ultricies fusce imperdiet non. Proin ornare ultrices pellentesque turpis donec nec, ut ut. Mattis ligula tincidunt imperdiet quam urna dui aliquam eget. Lacinia nam viverra elementum integer eget.
                </span>
            </div>
            <div class="startPlayTile">
                <a href="#">
                    <span>Начать играть</span>
                </a>
            </div>
        </section>
    </main>
    <footer>
        <span>Stepan Berkunov 2020-2021 all rights reserved</span>
    </footer>
</body>
</html>