<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="start_play.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">

    <title>Document</title>
</head>
<body>
    <header>
        <div class="headerContent">
            <div class="logoSection">
                <div class="imgLogoWrapper">
                    <a href="index.html" class="imgLogoLink">
                        <img src="img/logo.svg" alt="">
                    </a>
                </div>
                <div class="logoText">
                    <a href="index.html" class="logoTextLink">
                        <span>Senton</span>
                    </a>
                </div>
            </div>
            <nav class="headerNavigation">
                <div class="headerNavigationElement">
                    <a href="index.html" class="headerNavigationLink">
                        <span>Главная</span>
                    </a>
                </div>
                <div class="headerNavigationElement">
                    <a href="#" class="headerNavigationLink">
                        <span>Донат</span>
                    </a>
                </div>
                <div class="headerNavigationElement">
                    <a href="#" class="headerNavigationLink">
                        <span>Сервера</span>
                    </a>
                </div>
                <div class="headerNavigationElement">
                    <a href="start_play.html" class="headerNavigationLink">
                        <span>Играть</span>
                    </a>
                </div>
                <div class="headerNavigationElement">
                    <a href="#" class="headerNavigationLink">
                        <span>Помощь</span>
                    </a>
                </div>
            </nav>
            <div class="loginSection">
                <div class="loginButton">
                    <span>Войти</span>
                </div>
            </div>
        </div>
    </header>
    <main>
        <section class="startPlayHolder">
            <div class="fastStartSign">
                <h3>Быстрый старт</h3>
            </div>
            <div class="manualHolder">
                <div class="manualElement">
                    <p>1&#41; Зарегистрируйтесь, прочитая <a href="#"><span>правила</span></a> сервера</p>
                </div>
                <div class="manualElement">
                    <p>2&#41; Скачайте наш лаунчер</p>
                    <div class="downloadLauncherHolder">
                        <div class="windowsLauncher">
                            <a href="#">
                                <img src="img/windows-icon.svg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="manualElement">
                    <p>3&#41; Когда скачаете лаунчер, введите свой логин и пароль, который вы указали при регистрации</p>
                </div>
                <div class="manualElement">
                    <p>4&#41; Выберите сервер и нажмите <span>играть</span></p>
                </div>
            </div>
            <div class="enjoyTheGameSign">
                <p>Приятной игры!</p>
            </div>
        </section>
    </main>
    <footer>
        <span>TRPP INBO-02-20 2022 all rights reserved</span>
    </footer>
</body>
</html>