<section class="reg-form">
  <h3>Вход</h3>

  <label for="email">Электронная почта</label>
  <input id="email" type="text" />

  <label for="login">Логин</label>
  <input id="login" type="text" />

  <label for="password">Пароль</label>
  <input id="password" type="password" />

  <label for="password-repeat">Повторите пароль</label>
  <input id="password-repeat" type="password" />

  <button>Зарегестрироваться</button>
  <button class="text-button" (click)="close()">Отмена</button>
</section>

