<header-component></header-component>
<main>
  <section class="tilesHolder">
    <div class="headerTile tile">
      <h1>Мы любим своих игроков</h1>
    </div>
    <div class="playersOnlineTile">
      <div class="playerOnlineSign">
        <span id="playerOnline"><b>70</b></span>
        <span>игроков онлайн</span>
      </div>
    </div>
    <div class="serverDesctiptionTile">
      <h2>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga, recusandae!
      </h2>
      <span>
        Dictumst tellus viverra hendrerit lectus nisl, massa nullam eu ultricies. Commodo risus ante quam tortor eros, nisi, sed. Arcu commodo, nibh ultricies fusce imperdiet non. Proin ornare ultrices pellentesque turpis donec nec, ut ut. Mattis ligula tincidunt imperdiet quam urna dui aliquam eget. Lacinia nam viverra elementum integer eget.
      </span>
    </div>
    <div class="startPlayTile">
      <a (click) = "clicked($event)">
        <h2>Начать играть</h2>
      </a>
    </div>
  </section>
</main>
<footer-component></footer-component>

